header {
    margin: 0 auto;
    margin-top: 40px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

main {
    background-color: #EFF1F7;
}

.info-complement {
    width: 90%;
    margin: 0 auto;
    margin-top: 67px;
    text-align: center;
    padding: 24px;

}

.info-complement h1 {
    font-family: "Poppins", sans-serif;
    font-size: 38px;
    font-weight: bold;

}

.info-complement p {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: #9E9AA8;
}

.info-complement button {
    margin-top: 32px;
    font-family: "Poppins", sans-serif;
    list-style-type: none;
    background-color: #2BD0D0;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 28px;
    border: none;
    cursor: pointer;
}

.short-link {
    width: 90%;
    margin: 0 auto;
    margin-top: 88px;
    margin-bottom: 90px;
    background-color: #4B3F6B;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

.short-link input {
    margin: 0 auto;
    margin-top: 24px;
    margin-bottom: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 80%;
    border-radius: 8px;
    border: none;
}

.short-link button {
    font-family: "Poppins", sans-serif;
    margin: 0 auto;
    margin-top: 8px;
    margin-bottom: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 80%;
    background-color: #2BD0D0;
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.main-menu {
    display: none;
}

.statistics {
    font-family: "Poppins", sans-serif;
    text-align: center;
    padding: 24px;

}

.card {
    background-color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 32px;
}

.card h2 {
    font-weight: bold;
    padding-bottom: 12px;
}

.card p {
    color: #9E9AA8;
}

.boost-link {
    background-color: #3A3054;
    padding: 36px;
}

.boost-link h2 {
    font-family: "Poppins", sans-serif;
    color: white;
}

.boost-link button {
    font-family: "Poppins", sans-serif;
    list-style-type: none;
    background-color: #2BD0D0;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 28px;
    border: none;
    cursor: pointer;

}


@media screen and (min-width: 1440px) {

}